/* max z-index is 7 - header/ footer 
	GridOverflow uses 6 for hovers
*/

/* CURSORS go here */
/* all refs prefixed with '--crs' */

:root {
	--crs-expand: 	url('res-svg/expand_lite.svg') 8 8, auto;
	--crs-zoomin: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-fscreen:	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-zoomout: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-arrow: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-maximize: url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-minimize: url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-gallery: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-arrup: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-arrleft:	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-arrright: url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-interest: url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-play: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-gotop: 	url('./res-svg/expand_lite.svg') 8 8, auto;
	--crs-grab: 	url('./res-svg/expand_lite.svg') 8 8, auto;
}

/* CURSOR CLASSES */
/* all classes prefixed with 'crs-' */

.crs-expand{
	cursor: var(--crs-expand);
}

/* CURSORS end ----------- */

/* FONTS GO HERE, WOFF2 or bust -----------------------------------------------*/
/* ALL FONTS USE SIL Open Font License 1.1, included in Font_Licenses.txt file */

@font-face {
	font-family: "inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(res-fonts/InterVariable.woff2) format("woff2");
}

@font-face {
	font-family: "inter-italic";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(res-fonts/InterVariable.woff2) format("woff2");
}


@font-face {
	font-family: "figtree";
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url(res-fonts/Figtree[wght].woff2) format("woff2");

}

@font-face {
	font-family: "figtree-italic";
	font-style: italic;
	font-weight: 300 900;
	font-display: swap;
	src: url(res-fonts/Figtree-Italic[wght].woff2) format("woff2");
}

@font-face {
	font-family: "calsans";
	font-style: normal;
	font-display: swap;
	src: url(res-fonts/CalSans-SemiBold.woff2) format("woff2");
}

/* FONTS END ---------------------------------------------- */

html {
	scroll-behavior: smooth;
	}

body {
	margin: 0;
	font-family: figtree;
}

.bkg{
	/* background-image: url(noise.png), linear-gradient(#10141d,black); 
	background-attachment: fixed;	
	background-repeat: repeat, no-repeat; */
	
	background-image: url(res-img/noise.png), linear-gradient(-30deg, black, hsl(220, 30%, 10%), black);
	background-size: 400% 900%;
	animation: gradient 8s ease infinite;
    background-attachment: fixed;	
	background-repeat: repeat, no-repeat; 	
	z-index: -1;
	margin: 0;
	padding: 0;
}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

/* HEADER BEGIN */

.logo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin:1%;
	justify-content: space-around;
	padding:0.8vw;
	width:200px;
	height:auto;
}

.toptag{
	padding:0 3vw;
	margin: auto auto auto 1%;
	font-size:2rem;
	text-align: start;
	color:hsl(210, 10%, 41%);
	text-overflow: ellipsis;
}

.header{
	background: hsla(220, 80%, 2%, 0.4);
	backdrop-filter: blur(0.8rem);
	width: 100%;
	height: 12vh;
	display: flex;
	text-decoration: none;
	position: fixed;
	top: 0;
	z-index: 101;
}

.headerrows{
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
}

.navbar{
	width: 60vw;
	height: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin:0.2% 1%;
	justify-content: space-around;
	padding:0 0.8vw;
}

.navbtn {
	flex: 1;
	font-family: figtree;
	height: auto;
	font-weight: 800;
	font-size: 2.4em;
	padding:0 0.8vw;
	color: hsl(194, 85%, 51%);
}

.navbtnactive {
	background: linear-gradient(0deg,hsl(25, 95%, 45%), hsl(40, 83%, 55%));
	color:black;
}

.navbtn:hover{
	background: linear-gradient(0deg,hsl(201, 72%, 47%), hsl(166, 91%, 52%));
	color:black;
}

/* FOOTER BEGIN, progress bar works as divider */

.footer {
	background: hsla(220, 80%, 2%, 0.4);
	backdrop-filter: blur(0.8rem);
	width: 100%;
	height: 5vh;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 101;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.footer:hover{
	height:10vh;
	transition-duration: 0.02s;
	transition-timing-function: ease-out;
}

.progress-container {
	width: 100%;
	height: 4px;
	background: hsl(220, 25%, 3%);
	z-index: 2;
}

.progress-bar {
	height: 4px;
	/*background: #d7dddf;*/
	background: linear-gradient(90deg, hsl(210, 60%, 25%) 35%, hsl(195, 10%, 85%) 100%);
	opacity: 0.8;
	width: 0%;
	z-index: 2;
}

/* FOOTER END ------------------------------ */

/* HEADINGS AND PARAGRAPH TAGS ------------- */

h1 {
	color: white;
	font-family: calsans;
	display: block;
	font-weight: 800;
	font-size: 22pt;
	text-align: left;
}

h2 {
	color: white;
	font-family: calsans;
	display: block;
	font-weight: 800;
	font-size: 22pt;
	text-align: left;
}


h4 {
	color: #6279b1;
	font-family: calsans;
	font-size: 3rem;
	display: block;
	margin: 1%;
}

h4:hover {
	color: white;
	font-family: calsans;
	font-size: 3rem;
	display: block;
	margin: 1%;
}

p {
	font-family: figtree;
	color: #bbc0c4;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.8;
	text-align: left;
	margin: auto;
	padding: 0.4rem 0rem;
	height: auto;
	width: auto;
}

.projtitle{
	color: white;
	font-family: figtree;
	font-weight: 800;
	font-size: 6rem;
	text-align: left;
	width: 100%;
	margin: 0;

}

.indent {
	border-left: 2px solid #618d9e;
	height: auto;
}

.pindent {
	font-family: inter-italic;
	color: #9bc5e6;
	font-size: 14pt;
	font-weight: light;
	line-height: 1.4;
	text-align: left;
	margin-left: 12px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li::before {
	content: "â–"; /* Insert content that looks like bullets */
	padding-right: 8px;
	color: #d5dbde; /* Or a color you prefer */
}

ul li {
	padding: 4px;
	font-family: inter;
	color: #d5dbde;
	font-size: 13pt;
	font-weight: light;
	line-height: 1.4;
	text-align: justify;
	text-justify: auto;
}

.dotbreak{
		display: block;
		height: auto;
		padding-top:2%;
		max-width: 600px;		
		margin-left: auto;
		margin-right: auto;
}

.content {
	margin: 13vh auto 12vh auto;
	width: 70vw;
}

.article {
	margin: 13vh auto 12vh auto;
	width: 60vw;
}

.vidbtn{
	width: 600px; 
	height: 600px; 
	display: inline-block; 
	padding-top: 5px; 
	margin: 0 auto;	
}

/* ANCHOR CSS --------- */

a:link { 
	text-decoration: none; 
	color: inherit;
} 
a:visited { 
	text-decoration: none; 
	color: inherit;
} 
a:hover { 
	text-decoration: none; 
	color: white;
} 
a:active { 
	text-decoration: none; 
	color: inherit;
}

/* TAG CLOUD OWN TICKER ----------------- */

.tagticker{
	border-radius: 4px;
	border-color: #9bc5e6;
	background-color: hsla(204, 100%, 11%, 0.395);
	color: aqua;
	padding:0em 1em;
	bottom:0;
	margin: 2rem auto 1vh auto;
}


/* TAG CLOUD FROM FAKIR ----------------- */

.cloud{
	padding-top:30vh;
	width: 30%;
	display: flex;
	margin: auto;
	font-size: 12em;
}

nav.cloud ul {
    /* Remove the bullet points of the list */
    list-style: none;


    /* make sure that all elements will be visible by wrapping into multiple lines */
    display: flex;
    flex-wrap: wrap;

    /* center the content */
    padding-left: 0;
    align-items: center;
    justify-content: center;
}

nav.cloud a {
    /* add some padding between elements, otherwise no space between words */
    padding-left: .25rem;
    padding-right: .25rem;
	text-decoration: none;
}

nav.cloud a[data-weight= "1"] { font-size: 0.9rem; }
nav.cloud a[data-weight= "2"] { font-size: 1.0rem; }
nav.cloud a[data-weight= "3"] { font-size: 1.2rem; }
nav.cloud a[data-weight= "4"] { font-size: 1.4rem; }
nav.cloud a[data-weight= "5"] { font-size: 1.6rem; }
nav.cloud a[data-weight= "6"] { font-size: 1.8rem; }
nav.cloud a[data-weight= "7"] { font-size: 2.0rem; }
nav.cloud a[data-weight= "8"] { font-size: 2.2rem; }
nav.cloud a[data-weight= "9"] { font-size: 2.4rem; }
nav.cloud a /* >= 10 */       { font-size: 2.6rem; }


nav.cloud li:nth-child( 1n+1) a {color:var(f06854)}
nav.cloud li:nth-child( 2n+1) a {color:var(dfd700)}
nav.cloud li:nth-child( 3n+1) a {color:var(0a81cf)}
nav.cloud li:nth-child( 5n+1) a {color:var(2bd47d)}
nav.cloud li:nth-child( 7n+1) a {color:var(f78c67)}
nav.cloud li:nth-child(11n+1) a {color:var(aa92ea)}