/* max z-index is 101 - header/ footer 
	GridOverflow uses 6 for hovers
*/

/* CURSORS go here */
/* all refs prefixed with '--crs' */

:root {
	--crs-expand: 	url('graphics/expand_lite.svg') 16 16, auto;
	--crs-zoomin: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-fscreen:	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-zoomout: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-arrow: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-maximize: url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-minimize: url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-gallery: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-arrup: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-arrleft:	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-arrright: url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-interest: url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-play: 	url('graphics/play.svg') 8 8, auto;
	--crs-gotop: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--crs-grab: 	url('./graphics/expand_lite.svg') 8 8, auto;
	--bkggradient: 	linear-gradient(in srgb 135deg, black, hsl(209, 46%, 14%), hsl(219, 87%, 6%), black);
	--bkgnoise: 	url(graphics/nnnoise.svg);
	
	/* COLORS go here, --col-[prefix]-[0 for dark, 1 for light] */

	--col-or0:		hsl(25, 95%, 45%); /* orange dark */
	--col-or1:		hsl(40, 85%, 65%); /* orange lite */
	--col-bl0:		hsl(200, 70%, 45%); /* blue dark */
	--col-bl1:		hsl(165, 90%, 50%); /* blue lite */
}

#root {
	height: 100vh;
	overflow: auto;
}

/* CURSOR CLASSES */
/* all classes prefixed with 'crs-' */

.crs-expand{
	cursor: var(--crs-expand);
}

.crs-play{
	cursor: var(--crs-play);
}

/* CURSORS end ----------- */

/* FONTS GO HERE, WOFF2 or bust -----------------------------------------------*/
/* ALL FONTS USE SIL Open Font License 1.1, included in Font_Licenses.txt file */

@font-face {
	font-family: "inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(fonts/InterVariable.woff2) format("woff2");
}

@font-face {
	font-family: "inter-italic";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(fonts/InterVariable.woff2) format("woff2");
}


@font-face {
	font-family: "figtree";
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url(fonts/Figtree[wght].woff2) format("woff2");

}

@font-face {
	font-family: "figtree-italic";
	font-style: italic;
	font-weight: 300 900;
	font-display: swap;
	src: url(fonts/Figtree-Italic[wght].woff2) format("woff2");
}

@font-face {
	font-family: "calsans";
	font-style: normal;
	font-display: swap;
	src: url(fonts/CalSans-SemiBold.woff2) format("woff2");
}

/* FONTS END ---------------------------------------------- */

html {
	scroll-behavior: smooth;
	}

body {
	margin: 0;
	font-family: figtree;
	overflow-y: scroll;
}

.bkgx{
	background: var(--bkggradient);
	background-size: 400% 900%;
	animation: gradient 8s ease infinite;
    background-attachment: fixed;	
	background-repeat: repeat, no-repeat; 	
	z-index: -1;
	margin: 0;
	padding: 0;
}

.bkgaddy{
	background-image: var(--bkgnoise);
	background-size: 10% 10%;
	mix-blend-mode: multiply;
	background-repeat: repeat;
	animation: none;
	z-index: -5;
	margin: 0;
	padding: 0;
}

.bkg {
    background-image: 
        var(--bkgnoise), /* Static noise */
        var(--bkggradient); /* Moving gradient */
    
    background-size: 
        100% 300%, /* Noise stays fixed */
        400% 900%; /* Gradient moves */
    
    background-repeat: space, no-repeat;
    
    background-blend-mode: overlay; /* Blend noise with gradient */
    
    /* Make the noise stay fixed, but let the gradient animate */
    background-attachment: unset, local; 
    
    animation: gradient 8s ease infinite;
    
    z-index: -1;
    margin: 0;
    padding: 0;
}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

/* HEADER BEGIN */

.logo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin:1%;
	justify-content: space-around;
	padding:0.8vw;
	width: 200px;
	height:auto;
}

.toptag{
	display: block;
	padding:0 3vw;
	margin: auto auto auto 1%;
	font-family: figtree;
	font-weight:600;
	font-size: 2em;
	text-align: start;
	color:hsl(210, 10%, 41%);
	overflow-y: hidden;
	text-overflow: ellipsis;
}



.toptag:after {
	color:hsl(40, 83%, 55%);
}

.toptag:hover:after {
	color:hsl(40, 83%, 55%);
	content: " Let's do business!";
}

.header{
	background: hsla(220, 80%, 2%, 0.4);
	backdrop-filter: blur(0.8rem);
	width: 100%;
	height: 12vh;
	display: flex;
	text-decoration: none;
	position: fixed;
	top: 0;
	z-index: 101;
}

.headerrows{
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
}

.navbar{
	width: 60vw;
	height: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin:0.2% 1%;
	justify-content: space-around;
	padding:0 0.8vw;
}

.navbtn {
	flex: 1;
	font-family: figtree;
	height: auto;
	font-weight: 800;
	font-size: 2.4em;
	padding:0 0.8vw;
	color: hsl(194, 85%, 51%);
	background: linear-gradient(in srgb 0deg,hsl(201, 72%, 47%), hsl(166, 91%, 52%));
	background-clip: text;
	color: transparent;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

}

.navbtnactive {
	background: linear-gradient(in srgb 0deg,hsl(25, 95%, 45%), hsl(40, 83%, 55%));
	color:black;
}

.navbtn:hover{
	background: linear-gradient(in srgb 135deg,hsl(201, 72%, 47%), hsl(166, 91%, 52%));
	color:black;
	-webkit-text-fill-color: black;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
}

/* FOOTER BEGIN, progress bar works as divider */

.footer {
	background: hsla(220, 80%, 2%, 0.4);
	backdrop-filter: blur(0.8rem);
	width: 100%;
	height: 5vh;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 101;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.footer:hover{
	height:10vh;
	transition-duration: 0.02s;
	transition-timing-function: ease-out;
}

.progress-container {
	width: 100%;
	height: 4px;
	background: hsl(220, 25%, 3%);
	z-index: 2;
}

.progress-bar {
	height: 4px;
	/*background: #d7dddf;*/
	background: linear-gradient(in srgb 90deg, hsl(210, 60%, 25%) 35%, hsl(195, 10%, 85%) 100%);
	opacity: 0.8;
	width: 0%;
	z-index: 2;
}

.cta{
	font-size: 1.6rem;
	font-family: figtree;
	font-weight: 600;
	text-align: center;
	align-items: center;
	color: var(--col-or1);
	background-image: repeating-linear-gradient(in srgb 60deg,var(--col-or0), var(--col-or1),var(--col-or0));
	background-clip: text;
	animation: ctascroll 6s ease infinite;
	transition-duration: 0.3s;	
	transition-timing-function: ease-out;
	-webkit-text-fill-color: transparent;

}

@keyframes ctascroll {
	0% {
		background-position: 0;
	}
	50% {
		background-position: 30vw;
	}
	100% {
		background-position: 0;
	}
}

.footer:hover .cta{
	background: repeating-linear-gradient(in srgb 90deg, var(--col-bl0), var(--col-bl1), var(--col-bl0));
	color:black;
	transition-duration: 0.1s;	
	transition-timing-function: ease-out;
	-webkit-text-fill-color: black;
}

.bktopbtn{
	background: linear-gradient(in srgb 180deg, hsla(240, 20%, 20%, 1), hsla(0, 0%, 0%, 0));
	backdrop-filter: blur(2px);
	opacity: 0.5;
	padding: 0.4rem 0.1rem;
	border-radius: 0.2rem;
	height: 2.4rem;
	width: 2.4rem;
	position: sticky;
	bottom: 12.4vh;
	left:96.4vw;
	margin:auto;
	z-index: 102;
	text-align: center;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.bktopbtn:hover{
	opacity: 1;
	height: 6rem;
	transition-duration: 0.02s;
	transition-timing-function: ease-out;
}

/* FOOTER END ------------------------------ */

/* HEADINGS AND PARAGRAPH TAGS ------------- */

h1 {
	color: white;
	font-family: calsans;
	display: block;
	font-weight: 800;
	font-size: 22pt;
	text-align: left;
}

h2 {
	color: white;
	font-family: figtree;
	display: block;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: left;
}


h4 {
	color: #6279b1;
	font-family: figtree;
	font-size: 3rem;
	display: block;
	margin: 1%;
}

h4:hover {
	color: white;
	font-family: calsans;
	font-size: 3rem;
	display: block;
	margin: 1%;
}

p {
	font-family: figtree;
	color: #bbc0c4;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.8;
	text-align: left;
	margin: auto;
	padding: 0.4rem 0rem;
	height: auto;
	width: auto;
}

.projtitle{
	color: white;
	background-color: hsla(0, 0%, 0%, 0.5);
	font-family: figtree;
	font-weight: 800;
	/* font-size: 6rem;*/ 
	font-size: calc(1 * (var(--fval)));
	text-align: left;
	width: 100%;
	margin: 0.4rem auto 0.4rem auto;
	--fval: 8vmin;
}

.projsubhead{
	color: white;
	font-size: calc(1 * (var(--fval)));
	--fval: 3vmin;
}

.indent {
	border-left: 2px solid #618d9e;
	height: auto;
}

.pindent {
	font-family: inter-italic;
	color: #9bc5e6;
	font-size: 14pt;
	font-weight: light;
	line-height: 1.4;
	text-align: left;
	margin-left: 12px;
}

ul.a {
	font-family: inter;
	color: #d5dbde;
	padding: 0;
	margin: 0;
	list-style: none;
}

li::before {
	content: "❖"; /* Insert content that looks like bullets */
	padding-right: 0.2rem;
	color: #d5dbde; /* Or a color you prefer */
}

li {
	padding: 4px;
	font-family: inter;
	color: #d5dbde;
	font-size: 1rem;
	font-weight: light;
	line-height: 1.4;
}

.dotbreak{
		display: block;
		height: auto;
		padding-top:2%;
		max-width: 600px;		
		margin-left: auto;
		margin-right: auto;
}

.content {
	margin: 13vh auto 12vh auto;
	width: 74vw;
}

.article {
	margin: 13vh auto 12vh auto;
	width: 60vw;
}

.vidbtn{
	width: 600px; 
	height: 600px; 
	display: inline-block; 
	padding-top: 5px; 
	margin: 0 auto;	
}

/* ANCHOR CSS --------- */

a:link { 
	text-decoration: none; 
	color: inherit;
} 
a:visited { 
	text-decoration: none; 
	color: inherit;
} 
a:hover { 
	text-decoration: none; 
	color: white;
} 
a:active { 
	text-decoration: none; 
	color: inherit;
}

/* TAG CLOUD OWN TICKER START ----------------- */

.tagticker{
	background-color: hsla(204, 100%, 11%, 0.395);
	padding:0em 0em;
	bottom:0;
	margin: 1rem auto 1rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.hashtag{
	color: hsl(194, 85%, 51%);
	padding: 0.6em;
	height: auto;
	font-size: 1.1rem;
}

.hashtag:hover{
	color: white;
}

/* TAG CLOUD OWN TICKER END ------------------- */

/* TAG CLOUD FROM FAKIR START ----------------- */

.cloud{
	padding-top:30vh;
	width: 30%;
	display: flex;
	margin: auto;
	font-size: 12em;
}

nav.cloud ul {
    /* Remove the bullet points of the list */
    list-style: none;


    /* make sure that all elements will be visible by wrapping into multiple lines */
    display: flex;
    flex-wrap: wrap;

    /* center the content */
    padding-left: 0;
    align-items: center;
    justify-content: center;
}

nav.cloud a {
    /* add some padding between elements, otherwise no space between words */
    padding-left: .25rem;
    padding-right: .25rem;
	text-decoration: none;
}

nav.cloud a[data-weight= "1"] { font-size: 0.9rem; }
nav.cloud a[data-weight= "2"] { font-size: 1.0rem; }
nav.cloud a[data-weight= "3"] { font-size: 1.2rem; }
nav.cloud a[data-weight= "4"] { font-size: 1.4rem; }
nav.cloud a[data-weight= "5"] { font-size: 1.6rem; }
nav.cloud a[data-weight= "6"] { font-size: 1.8rem; }
nav.cloud a[data-weight= "7"] { font-size: 2.0rem; }
nav.cloud a[data-weight= "8"] { font-size: 2.2rem; }
nav.cloud a[data-weight= "9"] { font-size: 2.4rem; }
nav.cloud a /* >= 10 */       { font-size: 2.6rem; }


nav.cloud li:nth-child( 1n+1) a {color:var(f06854)}
nav.cloud li:nth-child( 2n+1) a {color:var(dfd700)}
nav.cloud li:nth-child( 3n+1) a {color:var(0a81cf)}
nav.cloud li:nth-child( 5n+1) a {color:var(2bd47d)}
nav.cloud li:nth-child( 7n+1) a {color:var(f78c67)}
nav.cloud li:nth-child(11n+1) a {color:var(aa92ea)}

/* TAG CLOUD FROM FAKIR END ------------------- */

/* Toggle START ------------------------------- */

details {
	padding: 0.5em 1.5em;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='transparent' rx='12' ry='12' stroke='%231487BA73' stroke-width='6' stroke-dasharray='16%2c24' stroke-dashoffset='21' stroke-linecap='square'/%3e%3c/svg%3e"), linear-gradient(hsla(204, 100%, 11%, 0.395), hsla(204, 100%, 11%, 0.874));
	border-radius: 12px;
  }
  
  summary {
	color: var(--col-bl0);
	font-family: figtree;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: left;
	margin: -0.25em -0.5em 0;
	padding: 0.5em;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
  }
  
  details[open] {
	padding: 0.5em 1.5em;
  }
  
  details[open] summary {
	color: white;
	margin-bottom: 0.5em;
  }

summary:hover{
	color:white;
}
summary:hover::after{
	content: " ✂ ✂";
	transition-duration: 0.04s;
	transition-timing-function: ease-out;
}

/* Toggle END -------- */

/* Horizontal Rule <hr> */

hr {
	display: block;
	margin: 0.5rem auto;
	border: 0.12rem solid hsla(194, 30%, 80%, 0.3);
}

hr.dashed{
	border-width: 4px;
	border-style: dashed;
	border-image: linear-gradient(to right, var(--col-bl0), rgba(0, 0, 0, 0)) 1;
}

/* https://kovart.github.io/dashed-border-generator/ */ 

/* Progress bar snippet */

        /* Basic flex container for columns - you can customize as needed */
        /* Basic flex container for columns */
        .traits-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .traits-column {
            flex: 1;
            min-width: 200px;
        }

        .checkbox-row {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        input[type="checkbox"].chk-item {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.75rem;
            cursor: pointer;
        }

        .trait-label {
			color:wheat;
            font-size: 2rem;
            font-weight: 500;
            cursor: pointer;
        }

        /* Progress bar styles */
        .chk-progress_container {
            position: relative;
            margin-top: 1.5rem;
			background-color: hsla(140, 70%, 30%, 0.4);
        }

        .chk-progress_bar {
            border: 1px solid black;
            height: 3rem;
            padding-right: 100%;
            overflow: hidden;
            transition: padding-right .3s ease, height .3s ease;
            position: relative;
        }

        .chk-progress_inner {
            height: 100%;
            width: 100%;
            transition: background-color .3s linear, background-image .3s linear;
        }

        /* Progress label */
        .chk-progress_label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
			font-size: 1.8rem;
            font-weight: bold;
            z-index: 10;
            color: white;
            pointer-events: none;
        }

        /* CTA Button styles */
        .cta-button {
            height: 6rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.25rem;
            color: white;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        }

        /* Base class for no progress */
        .chk-progress-00 { padding-right: 100%; }
        .chk-progress-00 .chk-progress_inner { background-color: #f0f0f0; }

        /* Additional styling */
        p, h4 {
            margin: 0.5rem 0;
        }

        h2 {
            margin-bottom: 1rem;
        }